*.bak
*.asv
*.tif
*.db
*.DS_Store
*.orig
*.avi
*.gif
*.png
*.bin
*.dig
*.pyc
*.zip
*.rej
*.npy
touchsim/__pycache__/*
.ipynb_checkpoints/*
.eggs
build/*
dist/*
touchsim.egg-info/*
.cache/*
tests/.cache/*
.pytest_cache/*
